USE [master]
GO
/****** Object:  Database [Projekt_ProgOb]    Script Date: 21.06.2022 04:53:57 ******/
CREATE DATABASE [Projekt_ProgOb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Projekt_ProgOb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Projekt_ProgOb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Projekt_ProgOb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Projekt_ProgOb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Projekt_ProgOb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Projekt_ProgOb]
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 21.06.2022 04:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nchar](20) NOT NULL,
	[Opis] [nchar](50) NULL,
 CONSTRAINT [PK_Categorie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dane_Osobowe]    Script Date: 21.06.2022 04:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dane_Osobowe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [nchar](20) NOT NULL,
	[Nazwisko] [nchar](20) NOT NULL,
	[Adres] [nchar](20) NOT NULL,
	[Adres_dost] [nchar](20) NULL,
	[Email] [nchar](30) NOT NULL,
 CONSTRAINT [PK_Dane_Osobowe3.0] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produkty]    Script Date: 21.06.2022 04:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produkty](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](50) NOT NULL,
	[Categoria_Id] [int] NOT NULL,
	[Opis] [nvarchar](100) NULL,
	[Img] [image] NULL,
	[Cena] [decimal](7, 2) NOT NULL,
	[Stan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Produkty2.0] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transakcje]    Script Date: 21.06.2022 04:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transakcje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_dane] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[Kwota] [decimal](7, 2) NOT NULL,
	[Produkty] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Transakcje3.0] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorie] ON 

INSERT [dbo].[Categorie] ([Id], [Nazwa], [Opis]) VALUES (1, N'Zupy                ', N'Pyszne Zupki                                      ')
INSERT [dbo].[Categorie] ([Id], [Nazwa], [Opis]) VALUES (2, N'Napoje              ', NULL)
INSERT [dbo].[Categorie] ([Id], [Nazwa], [Opis]) VALUES (3, N'Artefakty           ', NULL)
SET IDENTITY_INSERT [dbo].[Categorie] OFF
GO
SET IDENTITY_INSERT [dbo].[Dane_Osobowe] ON 

INSERT [dbo].[Dane_Osobowe] ([Id], [Imie], [Nazwisko], [Adres], [Adres_dost], [Email]) VALUES (1, N'John                ', N'Snow                ', N'Papieska 16 Krakow  ', N'Papieska 16 Krakow  ', N'abc@abc.qwead.com             ')
INSERT [dbo].[Dane_Osobowe] ([Id], [Imie], [Nazwisko], [Adres], [Adres_dost], [Email]) VALUES (2, N'Bartek              ', N'Kajtek              ', N'CoCieTo             ', N'Interesuje          ', N'NieMam                        ')
SET IDENTITY_INSERT [dbo].[Dane_Osobowe] OFF
GO
SET IDENTITY_INSERT [dbo].[Produkty] ON 

INSERT [dbo].[Produkty] ([Id], [Nazwa], [Categoria_Id], [Opis], [Img], [Cena], [Stan]) VALUES (1, N'Pomidorowa', 1, N'1litr', NULL, CAST(12.00 AS Decimal(7, 2)), N'15')
INSERT [dbo].[Produkty] ([Id], [Nazwa], [Categoria_Id], [Opis], [Img], [Cena], [Stan]) VALUES (3, N'Rosół', 1, N'1litr', NULL, CAST(15.12 AS Decimal(7, 2)), N'13')
INSERT [dbo].[Produkty] ([Id], [Nazwa], [Categoria_Id], [Opis], [Img], [Cena], [Stan]) VALUES (5, N'Herbatka', 2, N'1litr', NULL, CAST(12.30 AS Decimal(7, 2)), N'400')
SET IDENTITY_INSERT [dbo].[Produkty] OFF
GO
SET IDENTITY_INSERT [dbo].[Transakcje] ON 

INSERT [dbo].[Transakcje] ([Id], [Id_dane], [Status], [Kwota], [Produkty]) VALUES (3, 1, N'Anulowany', CAST(200.00 AS Decimal(7, 2)), N'Pierogi                                           ')
INSERT [dbo].[Transakcje] ([Id], [Id_dane], [Status], [Kwota], [Produkty]) VALUES (4, 2, N'w trakcie', CAST(68.99 AS Decimal(7, 2)), N'13                                                ')
SET IDENTITY_INSERT [dbo].[Transakcje] OFF
GO
ALTER TABLE [dbo].[Produkty]  WITH CHECK ADD  CONSTRAINT [FK_Produkty_Categorie] FOREIGN KEY([Categoria_Id])
REFERENCES [dbo].[Categorie] ([Id])
GO
ALTER TABLE [dbo].[Produkty] CHECK CONSTRAINT [FK_Produkty_Categorie]
GO
ALTER TABLE [dbo].[Transakcje]  WITH CHECK ADD  CONSTRAINT [FK_Transakcje_Dane_Osobowe] FOREIGN KEY([Id_dane])
REFERENCES [dbo].[Dane_Osobowe] ([Id])
GO
ALTER TABLE [dbo].[Transakcje] CHECK CONSTRAINT [FK_Transakcje_Dane_Osobowe]
GO
USE [master]
GO
